body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --background-prymary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000;
  --background-quartiary-color: #d9d9d9;

  --primary-color: #b81515;
  --secundary-color: #8f0101;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

h1 {
  font-family: "Montserrat";
  font-size: var(--titles-weight);
  color: var(--primary-color);
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.section-title hr {
  background-color: var(--secundary-color);
  width: 180px;
  height: 4px;
  margin: 16px auto 32px;
  border: none;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
