header {
  display: flex;
  flex-direction: row;
  background-color: var(--background-tertiary-color);
  justify-content: space-between;
  align-items: flex-start;
  padding: 37px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.menu nav {
  display: none;
}

.menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.links_menu {
  list-style: none;
}
.links_menu li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  font-size: 24px;
}
.links_menu li {
  margin: 16px 0;
}

.links_menu li a:hover {
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: 0;
  }

  .menu label {
    display: none;
  }

  .menu nav {
    display: block;
  }

  .links_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 467px;
    font-size: 24px;
    margin: 0;
  }
}
