.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  color: var(--text-secundary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
}

.card a {
  width: 280px;
  height: 64px;
  color: var(--text-secundary-color);
  font-size: 20px;
  font-weight: var(--titles-weight);
  background-color: var(--primary-color);
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
}

.card p {
  font-weight: var(--text-weight);
  font-size: 20px;
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--titles-weight);
  margin: 8px 0 0 0;
}

.card header span {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--titles-weight);
  margin: 24px 0;
}

.card.japao {
  background-image: url(../img/imgcard-japao.png);
  background-size: cover;
}

.card.sanandreas {
  background-image: url(../img/imgcard-sanandreas.png);
  background-size: cover;
}

.card.paraiba {
  background-image: url(../img/imgcard-paraiba.png);
  background-size: cover;
}

.card.manaus {
  background-image: url(../img/imgcard-manaus.png);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 420px;
    height: 308px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px) {
  .card {
    width: 1200px;
  }
}
